In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import torch
import torch.nn as nn

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.utils import shuffle

In [5]:
df = pd.read_csv("/content/income.csv")

In [6]:
print(len(df))
df.head()

16029

,age,sex,education,education-num,marital-status,workclass,occupation,hours-per-week,income,label
0,27,Male,HS-grad,9,Never-married,Private,Craft-repair,40.0,<=50K,0.0
1,47,Male,Masters,14,Married,Local-gov,Exec-managerial,50.0,>50K,1.0
2,59,Male,HS-grad,9,Divorced,Self-emp,Prof-specialty,20.0,<=50K,0.0
3,38,Female,Prof-school,15,Never-married,Federal-gov,Prof-specialty,57.0,>50K,1.0
4,64,Female,11th,7,Widowed,Private,Farming-fishing,40.0,<=50K,0.0

In [7]:
df['label'].value_counts()

label
0.0    11676
1.0     4352
Name: count, dtype: int64

In [8]:
df.columns

Index(['age', 'sex', 'education', 'education-num', 'marital-status',
       'workclass', 'occupation', 'hours-per-week', 'income', 'label'],
      dtype='object')

In [28]:
cat_cols = ["sex", "education", "marital-status", "workclass", "occupation"]
cont_cols = ["age", "education-num", "hours-per-week"]
y_col = ["label"]
print(f'cat_cols  has {len(cat_cols)} columns')
print(f'cont_cols has {len(cont_cols)} columns')
print(f'y_col     has {len(y_col)} column')

cat_cols  has 5 columns
cont_cols has 3 columns
y_col     has 1 column

In [40]:
cat_szs = [df[col].nunique() for col in categorical_cols]
emb_szs = [(size, min(50, (size // 2) )) for size in cat_szs]

print("cat_szs:", cat_szs)
print("emb_szs:", emb_szs)

cat_szs: [2, 14, 7, 5, 12]
emb_szs: [(2, 1), (14, 7), (7, 3), (5, 2), (12, 6)]